.wrapper {
  margin: 0 auto;
  width: 95%;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  border-radius:10px;
  background-color: #BD1550;
  color: #fff;
  flex: 1 1 200px;
}

.cards h2 {
  background-color: #f3f3f3;
  margin: 0;
  padding: 10px;
}

.cards p {
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.flex li {
  flex: 1 1 200px;
  margin: 10px;
}
