/*general theme*/

.inria {
  background: #272822;
  color: #cebbb5;
}
.inria h1, .inria h2 {
    color: #f3f3f3;
    line-height: 0.8em;
}
.logo {
  position: absolute;
  top: 3em;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.dim {
  color: #555;
}

.rect-back {
  width:200px;
  height:200px;
  background: #cebbb5;
  margin: auto;
}

.inria-back {
  background: #cebbb5;
  margin: auto;
  padding: 10px 0;
}

.white-back {
  background: #ffffff;
  margin: auto;
  padding: 10px 0;
}

.math-style {
  color: #000000;
  background: #ffffff;
  margin: auto;
  padding: 1px 20px;
}

.valign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
