{{ partial "head" . }}

<body>
<textarea id="source">
{{ range .Data.Pages.ByWeight }}{{ if eq .Type "slide" }}{{ if eq .Params.contentType "md" }}{{ .RawContent }}{{ end }}{{ if eq .Params.contentType "sc" }}{{ .Content }}{{ end }}{{ end }}{{ end }}
</textarea>

{{ partial "js" . }}

<script>
        if( window.location.search.match( /print-pdf/gi ) ) {
          var link = document.createElement( 'link' );
          link.rel = 'stylesheet';
          link.type = 'text/css';
          link.href = 'https://artefaritaj.gitlab.io/lhs/css/pdf.css';
          document.getElementsByTagName( 'head' )[0].appendChild( link );
        }
      </script>
</body></html>



