<script src="assets/remark-0.14.0.min.js"></script>
<script>
      var slideshow = remark.create({
         highlightLanguage: 'javascript',
         highlightStyle: 'tomorrow', 
         highlightLines: true
      });
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    },
    //TeX: {
    //  equationNumbers: { autoNumber: "AMS" } 
    //}
  });
</script>
<script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
<!-- <script src="{{ "/MathJax-2.7.2/MathJax.js?config=TeX-AMS_CHTML" | relURL }}"></script> -->
<!-- <script type="text/javascript" src="{{ "/MathJax-2.7.2/MathJax.js" | relURL }}"></script> -->


